# Database
# PostgreSQL local
DATABASE_URL="postgresql://postgres:SUA_SENHA@localhost:5432/barbearia"

# JWT
JWT_SECRET="SUA_CHAVE_JWT_AQUI"
JWT_EXPIRATION="24h"

# Application
NODE_ENV="development"
PORT=3000

# Admin ID (WhatsApp JID)
ADMIN_JID="5511999999999@c.us"
